.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:forms, :index)
      %li=link_to pat(:new), url(:forms, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:forms)
    .inner
      %table.table
        %tr
          %th.first=mat(:form, :id)
          %th=mat(:form, :subject)
          %th=mat(:form, :email_to)
          %th=mat(:form, :token)
          %th.last="&nbsp;"
        -@forms.each do |form|
          %tr
            %td.first=form.id
            %td=form.subject
            %td=form.email_to
            %td=form.token
            %td.last
              =link_to "Show", "/form/#{form.token}", :target => "_blank"
              ="|"
              =button_to pat(:edit), url(:forms, :edit, :id => form.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:forms, :destroy, :id => form.id), :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
