%div.contact
  = [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
  -form_for :contact_form, url(:form, :create), :class => :form do |f|
    %fieldset
      = f.error_messages
      = f.hidden_field :token

      =f.label :name
      =f.text_field :name, :class => :text_field

      =f.label :email
      =f.text_field :email, :class => :text_field

      =f.label :message
      =f.text_area :message, :class => :text_field

      %div.none
        =f.label :url, :caption => 'if you see this then leave the field empty'
        =f.text_field :url

      =f.submit "Enviar", :class => :button
